:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  color: white;
  background-color: #121748;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: white;
  transition: all 0.2s ease-in-out;
}
a:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
a:visited {
  color: white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
